.main-container-sidebar {
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: #363740;
  display: flex;
  align-items: center;
}

.inner-container-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}

.item-style-sidebar {
  color: #669999;
}
