.main-container-home-screen {
  position: 'fixed';
  left: '25%';
  width: '100%';
  height: '100%';
  align-items: 'start';
  justify-content: 'center';
  display: 'flex';
  flex-direction: 'column';
}
